
@{
    ViewBag.Title = "Trades History";
}


    <div class=" container">
        <h2>Order History</h2>

        <table class="table">
            <tr>
                <th>
                    Trade Id
                </th>
                <th>
                    Sum Price
                </th>
            </tr>
            @foreach (var bskt in ViewBag.History_basket_id)
            {
                <tr>
                    <td>
                        @bskt.Id
                    </td>
                    <td>
                        @bskt.SumPrice
                    </td>
                    <td>
                        @Html.ActionLink("Details", "BsktDetials", new { id = bskt.Id })
                    </td>
                </tr>
            }
        </table>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                @Html.ActionLink("Go Back", "Index")
            </div>
        }
</div>